body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.tit{
    font-size: 1.5rem;
}
#dialogo {
    margin-bottom: 20px;
}

#personagemImagem, #magoImagem, #objetoImagem {
    height: 100px;
    width: auto;
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-bottom: 20px;
}


